/*  src/Landing.css  */
.Header {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1em;
    margin-bottom: 2em;
    background-color: rgb(129, 129, 129);
    color: rgb(255, 255, 255);
  }

  .nav-link {
    display: inline-block;
    padding: 0.5em 1em;
    color: rgba(255, 255, 255, 0.835);
    font-weight: bold;
    text-decoration: none;
  }
  
  .nav-link-active {
    color: #fff;
    border-bottom: 2px solid;
  }