/*  src/Landing.css  */
.Header {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1em;
    margin-bottom: 2em;
    background-color: rgb(255, 255, 255);
    color: rgb(255, 159, 50);
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
  }